
<html>
    <title>My Home</title>
</html>

<body>
    <h1>This is our contact page</h1>

    <% name = 'vaibhav' %>  
<!-- this only process the code and not generate any output -->
    <%= name  %>

    <% @name.each do |n| %>
    <%= n %> <br>
    <% end %>
</body>

