<div>
	<h1>
		Edit Subject
	</h1>

		<%= link_to('Back to home',subjects_path) %>
	<br>
	<%= form_for(@subject,:url=>subject_path(@subject),:method=>'patch'  ) do |f| %>
			<%= render(:partial => 'form',:locals => {:f => f}) %>
		<%= f.submit(:update	) %></td>	
	<% end %>
</div>