<div  style="margin: 130px auto 0;padding: 20px;background:rgb(0,0,0,.5);width:400px; ">
    <h3>Add Subject</h3>
        <%= form_for(@subject ,:url => {:controller => "subjects",:action=>"create"},:method=>'post' ) do |f| %>
            <%= render(:partial => 'form',:locals => {:f => f}) %>
            
            <%= f.submit(:create) %>
            
        <%end%>
</div>  